.container {
  background-color: #424242;
  width: 100vw;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .title {
  text-align: center;
  color: #ffffff;
  
  position: sticky;
  top: 0;
  width: 100%;
  padding: 6px;
  margin: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  color: white;

  transition: background-color 0.5s ease;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: #424242;
  text-overflow: hidden;
  overflow: hidden;
}
.nav ul li {
  margin: 0;
  padding: 10px 20px;
}
.nav ul li:hover {
  background-color: #5f5f5f;
}
.actions {
  background-color: #5f5f5f;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.actions:hover {
  background-color: #777777;
}
.actions img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.navOut {
  transition: max-width 0.3s ease;
  max-width: 0px;
}
.navIn {
  max-width: 300px;
}
